language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
env:
  - DJANGO=django==1.7.7
  - DJANGO=django==1.8
install:
  - pip install $DJANGO
  - pip install -r requirements.txt
# Test behave_django with behave :)
script: python manage.py behave
